Flask
Flask-SQLAlchemy
Flask-Login
Flask-Babel
Flask-SocketIO
Flask-Limiter
Flask-WTF
Werkzeug
pyotp
qrcode
psutil
cloudinary
python-dotenv
bleach
filetype
gunicorn
psycopg2-binary
email-validator
requests
eventlet
pillow